* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle-menu-1 {
    width: 180px;
    position: absolute;
    left: 245px;
}
.x {
    width: 15px;
    position: relative;
    left: 342px;
    top: 73px;
}
.nav {
    margin: 97px 0px 0px 160px;
}
.link-nav {
    text-decoration: none;
}
.p-nav {
    font-size: 28px;
    font-family:  Arial, Helvetica, sans-serif;
    color: black;
    line-height: 110px;
}
.circle-menor {
    position: absolute;
    top: 396px;
}